<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org " xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" th:href="@{/head.css}">
    <link rel="stylesheet" href="/static/head.css">
</head>
<body>
<div class="main-page">
    <div class="nav-container">
        <a href="#" class="nav-item">Home</a>
        <a href="#" class="nav-item">About</a>
        <a href="#" class="nav-item">Services</a>
        <a href="#" class="nav-item">Contact</a>
    </div>
</div>

<div></div>
<div></div>
</body>
</html>